.panda-bg-info{
    background-color: #FEEAE9;

}
.panda-carousel{
  border-radius: 15px;
}
.panda-btn-buy-now{
    background-image: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);;
    color: white;
    height: 52px;
    width: 168px;
    border-radius: 8px;
    padding: 14px, 20px, 14px, 20px;
    border: none;

}

.categories img{
    width: 100px;

}
.panda-categories-btn-1{
    background-image:linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);;
    height: 120px;
    border-radius: 20px;
}
.panda-categories-btn-2{
   background-image:linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
   height: 120px;
   border-radius: 20px;
}

.panda-categories-btn-3{
    background-image:linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
    height: 120px;
    border-radius: 20px;
 }
 .panda-shoes{
     border-radius: 20px;
 }
 .panda-card{
     border-radius: 20px;
 }